#wrapper {
  display: grid;
  justify-content: center;
  grid-template-rows: auto auto;
  align-items: center;
}

#btn-submit {
  margin: 0 auto;
  display:block;
  border:none;
  background-color:green;
  cursor:pointer;
  color:white;
  padding:1em 2em;
  font-size:1em;
}
